body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #9900ff 50%, #fbff00 100%) !important;
}

.tabla-container {
    display: flex; /* Alinea las tablas en una fila */
    justify-content: space-around; /* Espacio uniforme entre las tablas */
    align-items: flex-start; /* Alinea las tablas al inicio vertical */
    gap: 0px; /* Espaciado fijo entre las tablas */
}

.tabla {
    display: grid;
    grid-template-columns: 1fr; /* Columnas de igual tamaño */
    border: 2px solid #333;
    border-radius: 8px;
    overflow: hidden;
    width: 700px; /* Ancho fijo para las tablas */
}

.encabezado {
    background-color: #444;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #333;
}

.table-row:nth-child(even) {
    background-color: #f3f3f3;
}

.table-row:nth-child(odd) {
    background-color: #fff;
}

.table-row {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table-row:last-child {
    border-bottom: none;
}

h1{
    text-align: center;
    color: #000000;
}